

@media only screen and (max-width: 946px) {
  #banner-tagline{
    font-size: 42px;
  }
  #service-tagline{
    font-size: 30px;
  }
  #service-para{
    font-size: 17px;
  }
}
@media only screen and (max-width: 770px) {
  #searchform{
    position: relative;
    left: -25px;
    margin-bottom: 20px;
  }
  #banner-tagline{
    font-size: 40px;
  }
  #banner-para{
    font-size: 17px;
  }
  #blog-heading{
    font-size: 20px;
  }
  #blog-discp{
    font-size: 13px;
  }
  #counter-cover{
    height: auto;
  }
}
@media only screen and (max-width: 410px) {
  #banner-tagline{
    font-size: 30px;
  }
  #banner-para{
    font-size: 16px;
  }
}
